body {
  padding: 0;
  margin: 0;
  background-color: #004C4C;
  height: 100vh;
}
#markdown-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
#preview, #editor {
  background-color: teal;
}
#editor {
  display: block;
}
#preview {
  border: 1px solid black;
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.full-view {
  height: 90vh;
  width: 90vw;
}
.App-link {
  color: #61dafb;
}
