

body {
  padding: 0;
  margin: 0;
  background-color: #004C4C;
}
#markdown-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
main, #preview, #editor-container, #editor {
  background-color: teal;
}

#editor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  min-width: 300px;
  padding: 0 5px;
  margin-top: 7px;
  margin-bottom: 15px;
  border: 10px solid #00ffff;
}

#editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  resize: none;
  border: none;
  padding: 0;
}
main {
  display: flex;
  flex-direction: column;
  border: 10px solid #00ffff;
}
#preview {
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
  height: 600px;
  overflow: scroll;
}
.open-close {
  align-self: flex-end;
}
.full-view {  
  width: 90vw;
  padding: 0;
}
#editor-container.full-view {
  height: 90vh;
}
main.full-view {
  min-height: 90vh;
  order: -1;
}
main.full-view #preview {
  height: 100%;
}
#editor-container.full-view {
  padding: 0; 
}
main.full-view .open-close, #editor-container.full-view .open-close {
  align-self: stretch;

}
.App-link {
  color: #61dafb;
}
